.display {
    display: flex;
    justify-content: center;
    padding: 0 20%;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin: 50px 0;
}

.controls {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-around;
    margin: 0 20px;
    font-size: 1.5rem;
}

.game-type {
    text-align: center;
    margin-bottom: 40px;
}

.gamemode {
    padding: 0 10px;
    border: none;
    border-bottom: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-bottom 2s;
}

.selected {
    border-bottom: 1px solid black;
}

.difficulty-display {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 15px;
}

.difficulty {
    position: relative;
    padding: 0 5px;
    display: none;
    margin: auto 3px;
    border-bottom: none;
}

.difficulty::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: 500ms linear;
}

.difficulty:hover::after {
    width: 100%;
}

.difficulty:hover {
    cursor: pointer;
}

.selected-difficulty {
    border-bottom: 1px solid black;
}

.message {
    font-size: 2rem;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    grid-gap: 0;
    margin: 0px auto;
}

.game-square {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 7.5rem;
    cursor: pointer;
}

.top {
    border-bottom: 1px solid black;
}

.center {
    border-bottom: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.middle {
    border-right: 1px solid black;
}
.reset {
    margin: 50px auto;
    padding: 5px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.active {
    outline: 1px solid black;
}
