* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 50px;
}

@font-face {
    font-family: 'calculator';
    src: url(./assets/Digital7-1e1Z.ttf);
}
@font-face {
    font-family: 'interface';
    src: url(./assets/KyrillasansserifBold-6j6Y.ttf);
}

.calContainer {
    width: 500px;
    margin: auto;
    font-size: 26px;
    padding: 0 50px;
}

.screen {
    text-align: end;
    font-family: 'calculator';
    font-size: 4em;
    border-bottom: 1.5px solid grey;
}

.previousCal {
    font-size: .4em;
    opacity: 50%;
    height: 35px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.button {
    display: inline-block;
    width: 17%;
    padding: 5% 0;
    margin: 1% 1%;
    position: relative;
    border-radius: 15%;
    font-family: 'interface';
    font-size: 1em;
    opacity: 1;
    transition: opacity 1s ease;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}