* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.right {
    margin-left: auto;
}

.link {
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
}

.link:hover {
    text-decoration: underline;
    opacity: 1;
}

.about,
.store {
    opacity: 0.75;
}

.apps-button {
    height: 25px;
    width: 25px;
    opacity: 0.72;
    padding: 2px;
}

.apps-button:hover {
    opacity: 1;
}

.button {
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    border-radius: 5%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px grey;
}

.button:hover {
    box-shadow: none;
}

.search-container {
    display: block;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}

img {
    width: 300px;
}

.search-bar {
    display: flex;
    width: 580px;
    border-radius: 30px;
    border: 0.1px solid lightgrey;
    margin: 30px auto;
}

.search-bar:hover {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-icon,
.speech-icon {
    width: 25px;
    height: 25px;
    margin: 10px 15px;
    cursor: pointer;
    opacity: 0.75;
}

.search-icon:hover,
.speech-icon:hover {
    opacity: 1;
}

.speech-icon {
    margin-left: auto;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
}

.search-bar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.buttons-extra {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 60px auto;
}

.l-buttons {
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(32 33 36 / 3%);
    border: 1px solid transparent;
    cursor: pointer;
}

.l-buttons:hover {
    border-color: #dadce0;
    box-shadow: 1px 1px rgb(0 0 0 / 10%);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:rgb(32 33 36 / 12%)
}

footer .foot:first-of-type {
    padding-left: 20px;
}

.foot {
    padding: 20px 10px;
}