* {
    padding: 0;
    margin: 0;
    block-size: initial;
}

.topH1 {
    padding: 15px 30px;
    text-align: center;
    margin-top: 150px;
}

#container {
    padding: 50px 50px;
    text-align: center;
    margin-top: 40px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}