* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

.title {
    font-family: monospace;
    padding-top: 20px;
    font-size: 30px;
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: auto;
    padding-right: 10px;
    padding-left: 20px;
}

.selections {
    display: flex;
    justify-content: space-between;
    width: max-content;
    min-width: max-content;
    background-color: white;
    color: black;
    transition: all 0.2s;
    font-family: monospace;
}

.active-size {
    background-color: black;
    color: white;
    border-radius: 0.5em;
}

.selection {
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.button {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    transition: all 0.2s;
    font-family: monospace;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    outline: 1px solid black;
    width: 800px;
    height: 800px;
}

.grid {
    position: relative;
}

.activeBlue {
    background-color: blue;
}

.activePurple {
    background-color: purple;
}

.activeRed {
    background-color: red;
}

.activeYellow {
    background-color: yellow;
}

@media (max-width: 1500px) {
    .menu {
        flex-direction: column;
        width: 800px;
    }
}

@media (max-width: 800px) {
    .grid-container {
        width: 400px;
        height: 400px;
    }
    .menu {
        width: 400px;
    }
    h1 {
        font-size: 14px;
    }
    .button {
        padding: 10px;
    }
    .selection {
        padding: 5px;
        font-size: 8px;
    }
}