* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 5% auto;
    width: 1400px;
}

main {
    width: 1400px;
    margin: auto;
}

.add-book-button {
    background: none;
    border-radius: 5%;
    padding: 15px;
    transition: background .5s, color .5s ease;
    margin-bottom: 20px;
}

.add-book-button:hover {
    background: grey;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
}

.form-container input[type=text] {
    padding: 10px;
    background-color: white;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
}

.bookEntry {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.top {
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid grey;
}

.bookProp {
    width: 20%;
    text-align: left;
}

.deleteBook {
    width: 20px;
    height: 20px;
}

.deleteBook:hover {
    cursor: pointer;
}